serveurLivraison/build/
clientLivraison/build/
serveurLivraison/CMakeLists.txt.user
clientLivraison/CMakeLists.txt.user
build-clientLivraison-Desktop_Qt_6_4_1_GCC_64bit-Debug/
build-serveurLivraison-Desktop_Qt_6_4_1_GCC_64bit-Debug/
build-clientLivraison_libColisStatique-Desktop_Qt_6_4_1_GCC_64bit-Debug/
build-serveurLivraison_libColisStatique-Desktop_Qt_6_4_1_GCC_64bit-Debug/
build-ColisStatique-Desktop_Qt_6_4_1_GCC_64bit-Debug/
build-test_QPdfWriter-Desktop_Qt_6_4_1_GCC_64bit-Debug/
test_QPdfWriter/
!clientLivraison/settings.ini
